@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body {
    font-family: Quicksand;
}

html {
  scroll-behavior: smooth;
}

section.container-fluid {
    padding-top: 5em;
    padding-bottom: 5em;
}

.heading {
    min-height: 30em;
    background: url(img/img1.png) top right / contain no-repeat;
}

.heading-title {
    font-family: "Oswald",sans-serif;
    font-weight: bold;
    font-size: 5.25rem;
    line-height: 0.9;
}

.heading-content h1{
    color:#50658e;
}

.heading-content h2{
    color:#f86168;
}

.heading-content p{
    max-width: 30em;
    font-size: 17px;
    color: #3d4b69;
    line-height: 1.6;
}

.table-informasi {
    border:#e7e8eb solid 1px;
    border-radius: 10px;
}

.tab-informasi {
    padding: 1em 1em 0 1em;
}

